<ion-view id="view-tabs-messages">
    <!-- 顶部的按钮 -->
    <!-- 左边的头像 -->
    <ion-nav-buttons side="primary">
        <a class="home">
            <span class="icon ion-home">个人中心</span>
        </a>
    </ion-nav-buttons>
    <ion-content class="selfContent">
        <div class="selfList">
            <ion-list>
                <ion-item class="item-icon-left reg">
                    <i class="icon ion-social-octocat login"></i> 登录/注册
                </ion-item>
            </ion-list>
        </div>
        <div class="selfDiv">
            <div>
                <span class="icon ion-android-pin"></span>
                <p>附件糗友</p>
            </div>
            <div>
                <span class="icon ion-ios-reload"></span>
                <p>群</p>
            </div>
            <div>
                <span class="icon ion-social-twitter"></span>
                <p>小鸡</p>
            </div>
            <div>
                <span class="icon ion-android-happy"></span>
                <p>良心夺宝</p>
            </div>
        </div>
        <div class="selfList">
            <ion-list>
                <ion-item class="item-icon-left item2">
                    <i class="icon ion-android-clipboard" style="background-color: #5b8de9"></i>
                    <span>管理糗事和动态</span>
                </ion-item>
                <ion-item class="item-icon-left item2">
                    <i class="icon ion-ribbon-b" style="background-color: #f4c60d"></i> 我的勋章
                </ion-item>
            </ion-list>
        </div>
        <div class="selfList">
            <ion-list>
                <ion-item class="item-icon-left item2">
                    <i class="icon ion-ios-moon" style="background-color: #8e10e6"></i>
                    <span>夜间模式</span>
                </ion-item>
                
            </ion-list>
        </div>
        <div class="selfList">
            <ion-list>
                <ion-item class="item-icon-left item2">
                    <i class="icon ion-ios-gear" style="background-color: #bab5bd"></i>
                    <span>设置</span>
                </ion-item>
                
            </ion-list>
        </div>
    </ion-content>
</ion-view>
