<div class="popBox">
  <div class="popColse" id="popColse" ng-click="closePop()">
      <span class="icon ion-ios-close-outline"></span>
  </div>
    <div class="popDiv1">一起体验审遍天下糗事的快感
        <br/> 登录/注册后才能审帖哦。
    </div>
    <div class="popDiv2">
        <span>一键登录/注册</span>
    </div>
    <div class="popDiv3">
        <div>
            <span><img src="img/qq.png" alt=""></span>
            <p>QQ</p>
        </div>
        <div>
            <span><img src="img/weixin.png" alt=""></span>
            <p>微信</p>
        </div>
        <div>
            <span><img src="img/weibo.png" alt=""></span>
            <p>微博</p>
        </div>
        <div>
            <span><img src="img/qiushi.png" alt=""></span>
            <p>糗事</p>
        </div>
    </div>
</div>
