<ion-view>

  <ion-tabs delegate-handle="tabs" class="tabs-energized tabs-icon-top" >
  
    <ion-tab title="糗事" ui-sref="tabs.qiushi" icon="ion-social-snapchat" badge="3" badge-style="badge-assertive">
   
    <!-- 相当于ui-vi 名字应该写在这上面 -->
      <ion-nav-view name="qiushi">
        <!-- Center content -->
      </ion-nav-view>
    </ion-tab>
  
    <ion-tab title="朋友圈" ui-sref="tabs.friends" icon="ion-android-contacts">
      <ion-nav-view name="friends" >
        <!-- Center content -->
      </ion-nav-view>
    </ion-tab>
  
    <ion-tab title="直播" ui-sref="tabs.others" icon="ion-android-playstore">
      <ion-nav-view name="others">
        <!-- Center content -->
      </ion-nav-view>
    </ion-tab>
  <ion-tab title="我" ui-sref="tabs.myself" icon="ion-android-person">
      <ion-nav-view name="myself">
        <!-- Center content -->
      </ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>