@charset "utf-8";


/*banner*/
.function-banner{ height:350px; background:#32425c;}
.function-banner .pimg{ width:1000px; margin:0px auto; text-align:center;}

/*小导航*/
#function-nav{ height:55px; padding-top:21px; background:url(../images/gongneng/function_nav_bg.png) repeat-x;}
.function-nav{ width:236px; position:relative; height:55px; margin:0px auto;}
.function-nav li{ position:absolute; height:55px; width:116px;}
.function-nav li a{ position:absolute; display:block; border-radius:10px 10px 0px 0px; width:116px; background:#0094cc; top:8px; left:0px; font-size:16px; color:#fff; text-align:center;
 line-height:47px; transition:none;}

.function-nav .li01{ left:0px;}
.function-nav .li02{ left:116px;}
.function-nav li .active{ position:absolute; display:block; border-radius:10px 10px 0px 0px; width:126px; background:#1dc1ff; top:0px; font-size:20px; color:#fff; font-weight:800; text-align:center; line-height:55px; z-index:20;}
.function-nav .li01 .active{ left:0px;}
.function-nav .li01 .active:before{ position: absolute; content: ""; right:-16px; top:10px; width:16px; height:45px; background:url(../images/gongneng/touying.png) no-repeat top left;}
.function-nav .li02 .active{ left:-10px;}

/*小导航*/
.main{}

.main ul .ji{ background:#ffffff;}
.main ul .ou{ background:#f0f4f7;}

.pub-box{ width:1080px; margin:0px auto; padding:50px 0px;}



.pub-imgright .img-content{ float:right; display:inline; margin-right:0px; width:626px; text-align:center; }
.pub-imgright .text-content{ float:left; display:inline; margin-left:0px; width:360px; padding-left:40px;}
.pub-imgleft .img-content{ float:left; display:inline; margin-left:0px; width:626px; text-align:center; }
.pub-imgleft .text-content{ float:right; display:inline; margin-right:0px; width:380px;  padding-right:40px;}
.pub-box .text-content .pub-title{ font-size:30px; color:#333; font-weight:800; line-height:50px;}
.pub-box .text-content .pub-text{ font-size:16px; line-height:30px; color:#333; margin-top:18px;}
.pub-box .text-content11{ margin-top:140px;}
.pub-box .text-content12{ margin-top:170px;}
.pub-box .text-content13{ margin-top:142px;}
.pub-box .text-content14{ margin-top:100px;}


.pub-box .text-content01{ margin-top:100px;}
.pub-box .text-content02{ margin-top:120px;}
.pub-box .text-content03{ margin-top:86px;}
.pub-box .text-content04{ margin-top:107px;}
.pub-box .text-content05{ margin-top:90px;}
.pub-box .text-content06{ margin-top:104px;}
.pub-box .text-content07{ margin-top:70px;}
.pub-box .text-content08{ margin-top:100px;}
.pub-box .text-content09{ margin-top:100px;}
.pub-box .text-content10{ margin-top:90px;}
















