<ion-view>
    <ion-nav-buttons side="primary">
        <a href="#/tabs/friends">隔壁</a>
        <a href="#/tabs/friends">已粉</a>
        <a href="#/tabs/friends">视频</a>
    </ion-nav-buttons>
    <!-- 右边的加号 -->
    <ion-nav-buttons side="secondary">
        <button class="button button-icon icon-small icon ion-ios-color-wand-outline qiandao" ng-click="openModal()">签到</button>
        <button class="button button-icon icon-small icon ion-plus-round" ui-sref="tabs.friends.addList"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/01.jpeg">
                <h2>爱妃呦</h2>
                <p>我是某某，哈哈哈哈哈哈</p>
            </div>
            <div class="item item-body">
                <img class="full-image" src="img/11.jpg">
                <p>
                    <a href="#" class="subdued"><i class="icon ion-thumbsup"></i> 喜欢</a>
                    <a href="#" class="subdued"> <i class="icon ion-chatbox"></i> 评论</a>
                    <a href="#" class="subdued"> <i class="icon ion-share"></i> 分享</a>
                </p>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/11.jpg">
                <h2>茂名</h2>
                <p>对于人生，有点伤感</p>
            </div>
            <div class="item item-body">
                <img class="full-image" src="img/12.jpg">
                <p>
                    <a href="#" class="subdued"><i class="icon ion-thumbsup"></i> 喜欢</a>
                    <a href="#" class="subdued"> <i class="icon ion-chatbox"></i> 评论</a>
                    <a href="#" class="subdued"> <i class="icon ion-share"></i> 分享</a>
                </p>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/01.jpeg">
                <h2>爱妃呦</h2>
                <p>我是某某，哈哈哈哈哈哈</p>
            </div>
            <div class="item item-body">
                <img class="full-image" src="img/6.jpg">
                <p>
                    <a href="#" class="subdued"><i class="icon ion-thumbsup"></i> 喜欢</a>
                    <a href="#" class="subdued"> <i class="icon ion-chatbox"></i> 评论</a>
                    <a href="#" class="subdued"> <i class="icon ion-share"></i> 分享</a>
                </p>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/01.jpeg">
                <h2>爱妃呦</h2>
                <p>我是某某，哈哈哈哈哈哈</p>
            </div>
            <div class="item item-body">
                <img class="full-image" src="img/04.jpg">
                <p>
                    <a href="#" class="subdued"><i class="icon ion-thumbsup"></i> 喜欢</a>
                    <a href="#" class="subdued"> <i class="icon ion-chatbox"></i> 评论</a>
                    <a href="#" class="subdued"> <i class="icon ion-share"></i> 分享</a>
                </p>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/01.jpeg">
                <h2>爱妃呦</h2>
                <p>我是某某，哈哈哈哈哈哈</p>
            </div>
            <div class="item item-body">
                <img class="full-image" src="img/131.jpg">
                <p>
                    <a href="#" class="subdued"><i class="icon ion-thumbsup"></i> 喜欢</a>
                    <a href="#" class="subdued"> <i class="icon ion-chatbox"></i> 评论</a>
                    <a href="#" class="subdued"> <i class="icon ion-share"></i> 分享</a>
                </p>
            </div>
        </div>
    </ion-content>
    <script id="my-modal.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar bar-header bar-energized">
                <button class="button button-clear button-primary" ng-click="modal.hide()"><span class="icon ion-arrow-left-c"></span></button>
                <h1 class="title">登录/注册</h1>
            </ion-header-bar>
            <ion-content>
                <div class="friBox">
                    <div class="friDiv1">
                        <span>使用合作账号登录/注册</span>
                    </div>
                    <div class="friDiv2 padding">
                        <button class="button button-full button-positive">
                            <span class="friQQ"><img src="img/icon4.png" alt=""></span>使用QQ账号</button>
                        <button class="button button-full button-balanced"><span class="friQQ"><img src="img/icon3.png" alt=""></span>使用微信账号</button>
                        <button class="button button-full button-assertive"><span class="friQQ"><img src="img/icon5.png" alt=""></span>使用微博账号</button>
                    </div>
                    <div class="friBox">
                        <div class="friDiv1">
                            <span>糗事百科账号登录</span>
                            <div class="list list-inset">
                                <label class="item item-input">
                                    <input type="text" placeholder="邮箱/昵称">
                                </label>
                                <label class="item item-input">
                                    <input type="password" placeholder="密码">
                                </label>
                                <button class="button button-full button-balanced">登录</button>
                            <p>忘记密码？</p>
                            </div>
                        </div>
                    </div>

            </ion-content>
        </ion-modal-view>
    </script>
</ion-view>
