<ion-view>
    <ion-nav-buttons side="primary">
        <a href="#/tabs/others">全部</a>
        <a href="#/tabs/others">已粉</a>
    </ion-nav-buttons>
    <!-- 右边的加号 -->
    <ion-nav-buttons side="secondary">
        <button class="button button-icon icon-small icon ion-plus-round" "></button>

    </ion-nav-buttons>
      <ion-content >
       <div class="box ">
         <div>
         	 <img src="img/1.jpg " alt=" ">
         	 <span class="icon ion-social-youtube-outline"></span>
       <p>花朵朵</p>
       <p>458人</p>
         </div>
           <div>
         	 <img src="img/2.jpg " alt=" ">
         	  <span class="icon ion-social-youtube-outline"></span>
       <p>花朵朵</p>
       <p>458人</p>
         </div>
       </div>
          <div class="box ">
         <div>
         	 <img src="img/3.jpg " alt=" ">
         	  <span class="icon ion-social-youtube-outline"></span>
       <p>花朵朵</p>
       <p>458人</p>
         </div>
           <div>
         	 <img src="img/4.jpg " alt=" ">
         	  <span class="icon ion-social-youtube-outline"></span>
       <p>花朵朵</p>
       <p>458人</p>
         </div>
       </div>
           <div class="box ">
         <div>
         	 <img src="img/5.jpg " alt=" ">
         	  <span class="icon ion-social-youtube-outline"></span>
       <p>花朵朵</p>
       <p>458人</p>
         </div>
           <div>
         	 <img src="img/6.jpg " alt=" ">
         	  <span class="icon ion-social-youtube-outline"></span>
       <p>花朵朵</p>
       <p>458人</p>
         </div>
       </div>
           <div class="box ">
         <div>
         	 <img src="img/7.jpg " alt=" ">
         	  <span class="icon ion-social-youtube-outline"></span>
       <p>花朵朵</p>
       <p>458人</p>
         </div>
           <div>
         	 <img src="img/8.jpg " alt=" ">
         	  <span class="icon ion-social-youtube-outline"></span>
       <p>花朵朵</p>
       <p>458人</p>
         </div>
       </div>
      </ion-content>
</ion-view>
